<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mensagens</ion-title>
  </ion-navbar>
</ion-header>  
<ion-content>  
  <ion-card *ngFor="let m of msgs">
    <img src="assets/imgs/rede_sociais/facebook.jpg" class="img-responsive " style=" width: 100% !important;height: auto !important;min-height: 150px;max-height: 170px;"/>
    <ion-card-content>
      <ion-card-title>Titulo <ion-icon ios="ios-bonfire" md="md-bonfire" *ngIf="m.on_fire" color="danger"></ion-icon>     </ion-card-title>
      <p>{{m.descricao}}</p>  
      <ion-item style="padding-left: 0px">
          <ion-label>Data do Evento: </ion-label>
          <ion-datetime type="text" [(ngModel)]="m.data_evento" displayFormat="DD/MM/YYYY - HH:mm" [disabled]="true"></ion-datetime> 
      </ion-item>       
    </ion-card-content>
  </ion-card> 
</ion-content>
  